.contact-hero {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.contact-hero .container {
  display: flex;
  overflow: hidden;
}

.contact-hero .container .contact-hero-col {
  flex: 1;
  height: 100%;
}

.contact-hero .container .contact-hero-img {
  position: relative;
  transform: translateY(6rem) scale(1.2);
  width: 100%;
  height: 100%;
  will-change: transform;
}

.contact-hero .contact-hero-copy {
  padding: 8rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-hero .contact-meta {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-hero .contact-meta .contact-meta-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-hero .contact-meta .contact-meta-block p {
  color: var(--base-500);
}

.contact-callout {
  background-color: var(--base-700);
  color: var(--base-100);
}

.contact-callout p {
  color: var(--base-500);
}

.contact-callout .container {
  padding: 12rem 2rem 3rem 2rem;
}

.contact-callout .container .contact-callout-header {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contact-callout .container .contact-callout-header p {
  width: 30%;
  margin-bottom: 2rem;
}

.contact-callout .contact-callout-img {
  transform: translateY(0rem);
  will-change: transform;
  width: 12rem;
  height: 16rem;
  border-radius: 0.75rem;
  overflow: hidden;
}

.contact-callout .contact-callout-logo {
  width: 5rem;
  height: 5rem;
  margin-bottom: 2rem;
}

@media (min-width: 2400px) {
  .contact-hero .contact-hero-copy {
    justify-content: center;
    gap: 20rem;
  }

  .contact-callout .container .contact-callout-header {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .contact-hero .container .contact-hero-col.contact-hero-img-wrapper {
    display: none;
  }

  .contact-callout .container .contact-callout-header p {
    width: 80%;
  }

  .contact-callout .container {
    padding: 8rem 2rem 3rem;
  }
}
